.App{
  width: 100vw;
  height:100vh;
}

.container{
  position: relative;
}

.editor-container{
  padding-left: 256px;
  padding-right: 256px;
  padding-top: 95px;
  padding-bottom: 128px;
}

#editor{
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
  color: rgba(0,0,0,.84);
  word-break: break-word;
}

.draft-editor-container{
  position: relative;
}